Google Calendar Tool Agent.json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Calendar Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code Tool": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Events": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-07T22:28:13.051Z",
  "id": "0HpIueWtDSZJCrBY",
  "meta": null,
  "name": "Google Calendar Tool Agent",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "ca163846-dcd0-4975-8eb8-112d48707c68",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        60,
        240
      ],
      "id": "9f97433c-2079-47b2-bd86-c4b5eb266341",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "sTmNKjvehSYtW09j",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "automatestpete@gmail.com",
          "mode": "list",
          "cachedResultName": "automatestpete@gmail.com"
        },
        "start": "={{ $fromAI(\"startTime\",\"The start time of the event in the following format: 2025-01-07T17:27:18\",\"string\") }}",
        "end": "={{ $fromAI(\"endTime\",\"The end time of the event in the following format: 2025-01-07T17:27:18\",\"string\") }}",
        "additionalFields": {
          "attendees": [],
          "description": "={{ $fromAI(\"eventDescription\",\"Description of the event\") }}",
          "summary": "={{ $fromAI(\"title\",\"title for the event\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.2,
      "position": [
        400,
        240
      ],
      "id": "4c8e4b0d-c443-4fc2-8e4b-969b6df0a4e1",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "uN5dopaOLSVA2U6J",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json.query) }}",
        "options": {
          "systemMessage": "You are a helpful assistant meant to manage the calendar. You must always first get the current date and time. Afterward you schedule events based on the input given.",
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        220,
        0
      ],
      "id": "b00aa8a0-4410-4155-aba2-6abdd0a5d282",
      "name": "Calendar Agent"
    },
    {
      "parameters": {
        "name": "date_tool",
        "description": "call this tool whenever you need to know what the current date and time is.",
        "jsCode": "// Get the current date and time\nconst now = new Date();\n\n// Extract date components\nconst year = now.getFullYear();\nconst month = now.getMonth() + 1; // Months are zero-based\nconst day = now.getDate();\n\n// Extract time components\nconst hours = now.getHours();\nconst minutes = now.getMinutes();\nconst seconds = now.getSeconds();\n\n// Format the date and time\nconst formattedDate = `${year}-${month.toString().padStart(2, '0')}-${day.toString().padStart(2, '0')}`;\nconst formattedTime = `${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;\n\nconsole.log(`Current Date: ${formattedDate}`);\nconsole.log(`Current Time: ${formattedTime}`);\nreturn `The Current Date and Time is ${formattedDate} at ${formattedTime}`"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        200,
        240
      ],
      "id": "c6329249-699e-41b2-a978-b88fde91d652",
      "name": "Code Tool"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "automatestpete@gmail.com",
          "mode": "list",
          "cachedResultName": "automatestpete@gmail.com"
        },
        "limit": 20,
        "options": {
          "timeMin": "={{ $fromAI(\"after\",\"This is 30 minutes prior to the start time. It mus be in the following format: 2025-01-07T17:52:30\") }}",
          "timeMax": "={{ $fromAI(\"before\",\"This is 30 minutes after the end time. It mus be in the following format: 2025-01-07T17:52:30\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.2,
      "position": [
        580,
        240
      ],
      "id": "388a38ff-c46c-4fde-a93d-7a36c6f98e0b",
      "name": "Get Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "uN5dopaOLSVA2U6J",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "query": {
            "startTime": "2025-01-08T00:00:00",
            "endTime": "2025-01-09T23:59:59",
            "title": "Calendar Events for Tomorrow",
            "description": "Retrieving events scheduled for tomorrow."
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-07T22:59:54.000Z",
  "versionId": "7df18649-14c0-4dc8-9106-4d262961fdf3"
}