My workflow 21.json
{
  "active": false,
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-03T15:21:16.367Z",
  "id": "s4kg8IxnTAsM0nU2",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 21",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "79e64d75-8609-4e36-b73f-b2b9f677db00",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "E777VIw7zyxrVJ7s",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ace4efa3-211d-4ee4-89a5-b0b0a84cbb0c",
              "leftValue": "={{ $json.from.value[0].address }}",
              "rightValue": "lenovo@ecomm.lenovo.com",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        220,
        0
      ],
      "id": "2aab85e7-9fb7-4fd8-b142-05bac3531e2d",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1e2qfg2iWFv87C2X9VBWwLLvDVNnvYsSoScWVu76maPY",
          "mode": "list",
          "cachedResultName": "N8n Interview Question 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e2qfg2iWFv87C2X9VBWwLLvDVNnvYsSoScWVu76maPY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e2qfg2iWFv87C2X9VBWwLLvDVNnvYsSoScWVu76maPY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "From": "={{ $('Gmail Trigger').item.json.from.value[0].address }}",
            "Date and Time Received": "={{ $('Gmail Trigger').item.json.date }}",
            "Link to Email": "=https://mail.google.com/mail/u/0/#inbox/{{ $json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "From",
              "displayName": "From",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Content",
              "displayName": "Email Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Date and Time Received",
              "displayName": "Date and Time Received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link to Email",
              "displayName": "Link to Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        460,
        -100
      ],
      "id": "e619392b-e4cc-4f95-a85f-56b591979da3",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sKITsW661Itsg15I",
          "name": "Google Sheets account - ASP"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-03-03T15:21:16.373Z",
      "updatedAt": "2025-03-03T15:21:16.373Z",
      "role": "workflow:owner",
      "workflowId": "s4kg8IxnTAsM0nU2",
      "projectId": "WCIiaWERZpaZ5IaT"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-03-03T16:00:24.000Z",
  "versionId": "2a7c5a13-5ada-465e-a1d4-a0b5410f476f"
}